<div class="row">
    <div class="col-1">
        <div class="type">
            {{transaction.type}} 
        </div>
    </div>
    <div class="col-3 column"> +{{transaction.amount}} XTZ </div>
    <div class="col-2 conversion"> {{transaction.amount * xtzRate| currency:'USD' }} USD </div>
    <div class="col-4 column"> {{(transaction.date | date:'mediumDate')+', '+(transaction.date | date:'HH:mm') }} </div>
    <div class="col-1"> {{(transaction.address | slice:0:2) +'...'+(transaction.address | slice:-4)}}</div>
</div>
