<div style="height: 100%; padding-top: 10vh;">
    <div class="row transaction-header">
        <div class="col">
            <img src="./assets/images/history-24px.svg" alt="recent transactions"/>
            Recent Transactions
        </div>
    </div>
    <div class="row transaction-header transaction-row-header">
        <div class="col-1">Type</div>
        <div class="col-5 column">Amount XTZ (USD)</div>
        <div class="col-3" style="padding-left: 40px;">Date</div>
        <div class="col-1" style="padding-left: 75px;">Address</div>   
    </div>
    <div class="row">
        <cdk-virtual-scroll-viewport itemSize="10" class="transaction-viewport"> 
            <app-transaction-row *cdkVirtualFor="let transaction of transactions" [transaction]="transaction"></app-transaction-row>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
